$main:#309EAC;
$secondColor:#F8FAFA;
*{font-family: 'Cairo', sans-serif;
}
body {
  
    background-color: $secondColor;
}
.box-shadow{
    -webkit-box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
    -moz-box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
    box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
}
.App .selection  ,.system .selection{
    text-align: center;
  background-color: #fff;
}
  
  .App .selection label , .system .selection label{
    display: inline-block;
    color: $main  !important;
    padding: 0.6em;
    cursor: pointer;
    width: 100%;
  }
  label {
    margin-bottom: 0rem !important; 
    font-weight: 600;
}
.border-5{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.border-10{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .App .selection input[type=radio] ,.system .selection input[type=radio]{
        display: none;
        text-align: center;

}
  
  .App .selection input[type=radio]:checked ~ label ,.system .selection input[type=radio]:checked ~ label{
    background-color:$main ;
    text-align: center;
    color: #fff !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


  input{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;  
    box-sizing: border-box;  
}


/*---------*/
.field-icon {
    margin-right: 5px !important;
    margin-top: -30px !important;
    position: relative;
    z-index: 2;
     color: $main !important;
     font-size: 17px;
  }
input[type=tel]{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid #DFE0E0 !important;
}
input{
    outline:  none !important;
}
.Screen
{
    font-size: 15px !important;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer !important;
  }
  
  .btn-file {
    color: $main;
    background-color:#fff;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer !important;
    border: none !important;

  }
  .w-50-phone
  {
      width: 50%;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 20px;
    cursor: pointer !important;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  textarea{
      border: none !important;
      resize: none !important;
      outline: none !important;
  }
  .left
  {
      color: $main !important;
      position: absolute;
      i{
          position: relative;
          top: 2px;
      }
      span{
          color: #000;
          font-weight: 700;
          font-size: 17px;
      }
  }
  .w-btn
  {
      width: 20%;
      background-color: $main;
      color: #fff;

  }
  @media (min-width:769px)and(max-width:1024px){
      .tall{
          font-size: 14px !important;
          padding-top: 5px;
          padding-bottom: 5px;
      }
       .system .selection .tall
      {
        padding-top: 12px;
        padding-bottom: 12px;
      }
      .App .selection .tall
      {
        padding-top: 12px;
        padding-bottom: 12px;
      }
      .Screen
    {
    font-size: 13px !important;
     }
  }
  @media (min-width:767px)and(max-width:768px){
      .w-50-phone
      {
          width: 75%;
      }
      .col-2 {
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
        max-width: 24%;
    }
    .col-3 {
        -ms-flex: 0 0 38%;
        flex: 0 0 38%;
        max-width: 38%;
    }
    .w-btn
    {
        width: 30%;
 

    }
  }
  @media (max-width:767px){
    .Screen
    {
    font-size: 14px !important;
     }
    .w-btn
    {
        width: 40%;
        background-color: $main;
        color: #fff;

    }
    textarea{
        width: 100%;
    }
    .col-8 ,.col-6
    {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-2 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .App .selection label , .system .selection label{
  font-size: 15px;
      }  
      .w-50-phone
      {
          width: 100%;
      }
    }
    p{
        font-size: 17px;
        font-weight: 800;
    }

    button{
        border: none !important;
        outline: none !important;
    }
    a{
      text-decoration: none !important;
    }
    [dir='rtl']    {
        #img-trash ,#img-trash3
{
    right: 9px;
}
        .inputGroup {
            label {
           
                padding: 20px 35px 20px 0px;             
            }
        }
        button{
            text-align: center !important;

          }
        .text-center{
            text-align: center !important;
        }
        .field-icon {
            float: left;
    
          }
        .left
        {
            right: 3%;
            top: 3%;
        }            

        body{
            direction: rtl;
        }
        * {
            text-align: right;
        }
    }
    [dir='ltr']    {
        #img-trash ,#img-trash3
{
    left: 9px;
}
        .inputGroup {
            label {
           
                padding: 20px 0px 20px 44px;             
            }
        }
        
        body{
            direction: ltr;
        }
        * {
            text-align: left;
        }
        .left
        {
            left: 3%;
            top: 3%;
       
        }
        .field-icon {
            float: right;

          }
          .text-center{
              text-align: center !important;
          }
          button{
            text-align: center !important;

          }
    }
    .text-center{
        text-align: center !important;
    }
    button{
cursor:  pointer !important;
      }


   

.inputGroup {

    display: block;
    position: relative;
    label {
        width: 100%;
        display: block;
        color: $main;
        cursor: pointer;
        position: relative;
        z-index: 2;
        font-size: 15px;
        font-weight: 700;
        transition: color 200ms ease-in;
        overflow: hidden;
        background-color: #fff;
        border-radius: 5px;
        height: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &:before 
            {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            content: '';
            background-color: $main;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
            transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
            opacity: 0;
            z-index: -1;
            border-radius: 15px;
        }
        &:after {
     
            width: 18px;
            height: 18px;
            content: '';
            border: 2px solid #47B5AC;
            background-color: #fff;
            border-radius: 50%;
            z-index: 2;
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: all 200ms ease-in;
        }
    }


    input:checked~label {
  
        color: #fff;
        &:before {
            transform: translate(-50%, -50%) scale3d(70, 70, 1);
            opacity: 1;
            -webkit-transform: translate(-50%, -50%) scale3d(70, 70, 1);
            -moz-transform: translate(-50%, -50%) scale3d(70, 70, 1);
            -ms-transform: translate(-50%, -50%) scale3d(70, 70, 1);
            -o-transform: translate(-50%, -50%) scale3d(70, 70, 1);
                }
        &:after {
            background-color: $main;
            border:5px solid #fff;
        }

    }
    input {
        width: 20px;
        height: 20px;
        order: 1;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
        border-radius: 15px;

    }
}

#video-trash ,#img-trash ,#img-trash3 ,#video-trash3
{
    display: none;
    color:#F35B67;
    cursor: pointer;
}

#video,#img,#img3,#video3{
    display: none;
    color: $main;
}
.pa
{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.desc
{
    display: none;
}
#img-trash ,#img-trash3
{
    position: relative;
}
.req
{
    color: #F35B67;
}
