$main:#47B5AC;
$secondColor:#F8FAFA;
*{font-family: 'Cairo', sans-serif;
}
body {
  
    background-color: $secondColor;
}
.box-shadow{
    -webkit-box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
    -moz-box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
    box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
}
.App .selection  ,.system .selection{
    text-align: center;
  background-color: #fff;
}
  
  .App .selection label , .system .selection label{
    display: inline-block;
    color: $main  !important;
    padding: 0.6em;
    cursor: pointer;
    width: 100%;
  }
  label {
    margin-bottom: 0rem !important; 
    font-weight: 600;
}
.border-5{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.border-10{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .App .selection input[type=radio] ,.system .selection input[type=radio]{
        display: none;
        text-align: center;

}
  
  .App .selection input[type=radio]:checked ~ label ,.system .selection input[type=radio]:checked ~ label{
    background-color:$main ;
    text-align: center;
    color: #fff !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


  input{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;  
    box-sizing: border-box;  
}


/*---------*/
.field-icon {
    margin-right: 5px !important;
    margin-top: -30px !important;
    position: relative;
    z-index: 2;
     color: $main !important;
     font-size: 17px;
  }
input[type=tel]{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid #DFE0E0 !important;
}
input{
    outline:  none !important;
}
.Screen
{
    font-size: 15px !important;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer !important;
  }
  
  .btn-file {
    color: $main;
    background-color:#fff;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer !important;
    border: none !important;

  }
  .w-50-phone
  {
      width: 50%;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 20px;
    cursor: pointer !important;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  textarea{
      border: none !important;
      resize: none !important;
      outline: none !important;
  }
  .left
  {
      color: $main !important;
      position: absolute;
      i{
          position: relative;
          top: 2px;
      }
      span{
          color: #000;
          font-weight: 700;
          font-size: 17px;
      }
  }
  .w-btn
  {
      width: 20%;
      background-color: $main;
      color: #fff;

  }
  @media (min-width:769px)and(max-width:1024px){
      .tall{
          font-size: 14px !important;
          padding-top: 5px;
          padding-bottom: 5px;
      }
       .system .selection .tall
      {
        padding-top: 12px;
        padding-bottom: 12px;
      }
      .App .selection .tall
      {
        padding-top: 12px;
        padding-bottom: 12px;
      }
      .Screen
    {
    font-size: 13px !important;
     }
  }
  @media (min-width:767px)and(max-width:768px){
      .w-50-phone
      {
          width: 75%;
      }
      .col-2 {
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
        max-width: 24%;
    }
    .col-3 {
        -ms-flex: 0 0 38%;
        flex: 0 0 38%;
        max-width: 38%;
    }
    .w-btn
    {
        width: 30%;
 

    }
  }
  @media (max-width:767px){
    .Screen
    {
    font-size: 14px !important;
     }
    .w-btn
    {
        width: 40%;
        background-color: $main;
        color: #fff;

    }
    textarea{
        width: 100%;
    }
    .col-8 ,.col-6
    {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-2 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .App .selection label , .system .selection label{
  font-size: 15px;
      }  
      .w-50-phone
      {
          width: 100%;
      }
    }
    p{
        font-size: 17px;
        font-weight: 800;
    }

    button{
        border: none !important;
        outline: none !important;
    }
    a{
      text-decoration: none !important;
    }
    [dir='rtl']    {
        button{
            text-align: center !important;

          }
        .text-center{
            text-align: center !important;
        }
        .field-icon {
            float: left;
    
          }
        .left
        {
            right: 3%;
            top: 3%;
        }            

        body{
            direction: rtl;
        }
        * {
            text-align: right;
        }
    }
    [dir='ltr']    {
        body{
            direction: ltr;
        }
        * {
            text-align: left;
        }
        .left
        {
            left: 3%;
            top: 3%;
       
        }
        .field-icon {
            float: right;

          }
          .text-center{
              text-align: center !important;
          }
          button{
            text-align: center !important;

          }
    }
    .text-center{
        text-align: center !important;
    }
    button{
cursor:  pointer !important;
      }
      #video,#img{
          display: none;
          color: $main;
      }